@page
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "MyMovie";
}

<h1>Welcome to Dominic Movies</h1>

<p>
    <a asp-page="Create" class="create-link">Create New</a>
</p>

<form method="get">
    <p>
        <label>
            Title:
            <input type="text" asp-for="SearchString" />
        </label>

        <label>
            Genre:
            <select asp-for="MovieGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>
        </label>

        <label>
            Year:
            <select asp-for="SearchYear" asp-items="Model.Years">
                <option value="">All</option>
            </select>
        </label>
    </p>

    <p>
        <label>
            From Year:
            <input type="number" asp-for="YearFrom" />
        </label>

        <label>
            To Year:
            <input type="number" asp-for="YearTo" />
        </label>

        <input type="submit" value="Filter" />
    </p>

    <span asp-validation-for="SearchYear" class="text-danger"></span>
    <span asp-validation-for="YearFrom" class="text-danger"></span>
    <span asp-validation-for="YearTo" class="text-danger"></span>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>